<h1>Listing size typologies</h1>

<table>
  <tr>
    <th>Name</th>
  </tr>

<% @size_typologies.each do |size_typology| %>
  <tr>
    <td><%=h size_typology.name %></td>
    <td><%= link_to 'Show', size_typology %></td>
    <td><%= link_to 'Edit', edit_size_typology_path(size_typology) %></td>
    <td><%= link_to 'Destroy', size_typology, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New size_typology', new_size_typology_path %>
