<table>
  <tr class="taleft" width="70%"><td class="taleft">
    <ul class="navigation round taleft">
      <li><%= link_to "micro array datas", micro_array_datas_path %></li>
      <li><%= link_to "micro array images", micro_array_images_path %></li>
      <li><%= link_to "micro array validations", micro_array_validations_path %></li>
      <li><%= link_to "micro array analysis files", micro_array_analysis_files_path %></li>
    </ul>
  </td></tr>
</table>

<h1>New micro array</h1>

<%= link_to 'Back', micro_arrays_path %>

<% form_for(@micro_array, :html => {:multipart => true}) do |f| %>
  <%= f.error_messages %>

  <div class="actions">
    <%= f.submit 'Create' %>
  </div>

<fieldset><legend class="leg">General data</legend>
  <div class="field select">
    <%= f.label :partner_id %><br />
    <%= select :micro_array,:partner_id,Partner.find(:all).collect{|p| [p.verbose_me, p.id]}%>
  </div>
  <div class="field txt">
    <%= f.label :gpr_file, "Load the grp file" %><br />
    <%= file_field(:micro_array, :gpr_file, :accept => 'text/csv') %>
  </div>
  <div class="field date">
    <%= f.label :loaded_at, "Uploaded at" %><br />
    <%= f.date_select :loaded_at %>
  </div>
</fieldset>




  <div class="field area">
    <%= f.label :note %><br />
    <%= f.text_area :note %>
  </div

  <div class="actions">
    <%= f.submit 'Create' %>
  </div>

<% end %>

<%= link_to 'Back', micro_arrays_path %>

