<h1>Editing geology</h1>

<% form_for(@geology) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @geology %> |
<%= link_to 'Back', geologies_path %>