<p>
  <b>Fp7 number:</b>
  <%=h @partner.fp7_Number %>
</p>

<p>
  <b>Name:</b>
  <%=h @partner.name %>
</p>

<p>
  <b>State:</b>
  <%=h @partner.state %>
</p>

<p>
  <b>Address:</b>
  <%=h @partner.address %>
</p>

<p>
  <b>Phone:</b>
  <%=h @partner.phone %>
</p>

<p>
  <b>email:</b>
  <%=h @partner.email %>
  <div style="display:none">
  email_field(:user, :email)
  email_field(@partner, :email)
  </div>
</p>

<p>
  <b>Site:</b>
  <%=h @partner.site %>
</p>


<%= link_to 'Edit', edit_partner_path(@partner) %> |
<%= link_to 'Back', partners_path %>

