<p>
  <b>Fp7 number:</b>
  <%=h @partner.fp7_Number %>
</p>

<p>
  <b>Name:</b>
  <%=h @partner.Name %>
</p>

<p>
  <b>State:</b>
  <%=h @partner.State %>
</p>

<p>
  <b>Address:</b>
  <%=h @partner.Address %>
</p>

<p>
  <b>Phone:</b>
  <%=h @partner.Phone %>
</p>

<p>
  <b>Email:</b>
  <%=h @partner.Email %>
</p>

<p>
  <b>Site:</b>
  <%=h @partner.Site %>
</p>


<%= link_to 'Edit', edit_partner_path(@partner) %> |
<%= link_to 'Back', partners_path %>