<%= GMap.header %>

<table>
    <tr class="taleft" width="70%">
        <td class="taleft">
            <ul class="navigation round taleft">
              <li><%= link_to "country", countries_path %></li>
            </ul>
        </td>
    </tr>
</table>

<h1>Listing Geographical positions</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Lon</th>
    <th>Lat</th>
    <th>Country</th>
  </tr>

<% @geos.each do |geo| %>
  <tr>
    <td><%=h geo.name %></td>
    <td><%=h geo.lng_name %></td>
    <td><%=h geo.lat_name %></td>
    <td><%=h Country.find(geo.country_id).verbose_me %></td>
    <td><%= link_to 'Show', geo %></td>
    <td><%= link_to 'Edit', edit_geo_path(geo) %></td>
    <td><%= link_to 'Delete', geo, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New geo', new_geo_path %>
<br />
<%= @map.to_html %>
<%= @map.div(:width => 600, :height => 400) %>


