<table>
  <tr class="taleft" width="70%"><td class="taleft">
    <ul class="navigation round taleft">
      <li><%= link_to "micro array datas", micro_array_datas_path %></li>
      <li><%= link_to "micro array images", micro_array_images_path %></li>
      <li><%= link_to "micro array validations", micro_array_validations_path %></li>
      <li><%= link_to "micro array analysis files", micro_array_analysis_files_path %></li>
    </ul>
  </td></tr>
</table>

<h1>Micro array data</h1>
<%= link_to 'New micro_array_data', new_micro_array_data_path %>
<br />
<br />

<table>
  <tr>
    <th></th>
    <th>Microarray</th>
    <th>name</th>
    <th>id</th>
    <th>index</th>
    <th>array row</th>
    <th>array column</th>
    <th>spot row</th>
    <th>spot column</th>
    <th>x</th>
    <th>y</th>
    <th>diameter</th>
    <th>f pixels</th>
    <th>b pixels</th>
    <th>footprint</th>
    <th>flags</th>
    <th>ch1 median</th>
    <th>ch1 mean</th>
    <th>ch1 sd</th>
    <th>ch1 b median</th>
    <th>ch1 b mean</th>
    <th>ch1 b sd</th>
    <th>ch1 b 1 sd</th>
    <th>ch1 b 2 sd</th>
    <th>ch1 f sat</th>
    <th>ch1 median b</th>
    <th>ch1 mean b</th>
    <th>ch1 signalnoiseratio</th>
    <th>ch2 median</th>
    <th>ch2 mean</th>
    <th>ch2 sd</th>
    <th>ch2 b median</th>
    <th>ch2 b mean</th>
    <th>ch2 b sd</th>
    <th>ch2 b 1 sd</th>
    <th>ch2 b 2 sd</th>
    <th>ch2 f sat</th>
    <th>ch2 median b</th>
    <th>ch2 mean b</th>
    <th>ch2 signalnoiseratio</th>
    <th>ch2 ratio of medians</th>
    <th>ch2 ratio of means</th>
    <th>ch2 median of ratios</th>
    <th>ch2 mean of ratios</th>
    <th>ch2 ratios sd</th>
    <th>ch2 rgn ratio</th>
    <th>ch2 rgn r</th>
    <th>ch2 log ratio</th>
    <th>sum of medians</th>
    <th>sum of means</th>
    <th>ch1 n median</th>
    <th>ch1 n mean</th>
    <th>ch1 n medianb</th>
    <th>ch1 n meanb</th>
    <th>ch2 n median</th>
    <th>ch2 n mean</th>
    <th>ch2 n medianb</th>
    <th>ch2 n meanb</th>
    <th>ch2 n ratio of medians</th>
    <th>ch2 n ratio of means</th>
    <th>ch2 n median of ratios</th>
    <th>ch2 n mean of ratios</th>
    <th>ch2 n rgn ratio</th>
    <th>ch2 n log ratio</th>
  </tr>

<% @micro_array_datas.each do |micro_array_data| %>
  <tr>
    <td><%= link_to 'Show', micro_array_data %></td>
    <td><%=h micro_array_data.D_Name %></td>
    <td><%=h micro_array_data.D_ID %></td>
    <td><%=h micro_array_data.microarray %></td>
    <td><%=h micro_array_data.D_Index %></td>
    <td><%=h micro_array_data.D_Array_Row %></td>
    <td><%=h micro_array_data.D_Array_Column %></td>
    <td><%=h micro_array_data.D_Spot_Row %></td>
    <td><%=h micro_array_data.D_Spot_Column %></td>
    <td><%=h micro_array_data.D_X %></td>
    <td><%=h micro_array_data.D_Y %></td>
    <td><%=h micro_array_data.D_Diameter %></td>
    <td><%=h micro_array_data.D_F_Pixels %></td>
    <td><%=h micro_array_data.D_B_Pixels %></td>
    <td><%=h micro_array_data.D_Footprint %></td>
    <td><%=h micro_array_data.D_Flags %></td>
    <td><%=h micro_array_data.D_Ch1_Median %></td>
    <td><%=h micro_array_data.D_Ch1_Mean %></td>
    <td><%=h micro_array_data.D_Ch1_SD %></td>
    <td><%=h micro_array_data.D_Ch1_B_Median %></td>
    <td><%=h micro_array_data.D_Ch1_B_Mean %></td>
    <td><%=h micro_array_data.D_Ch1_B_SD %></td>
    <td><%=h micro_array_data.D_Ch1_B_1_SD %></td>
    <td><%=h micro_array_data.D_Ch1_B_2_SD %></td>
    <td><%=h micro_array_data.D_Ch1_F_Sat %></td>
    <td><%=h micro_array_data.D_Ch1_Median_B %></td>
    <td><%=h micro_array_data.D_Ch1_Mean_B %></td>
    <td><%=h micro_array_data.D_Ch1_SignalNoiseRatio %></td>
    <td><%=h micro_array_data.D_Ch2_Median %></td>
    <td><%=h micro_array_data.D_Ch2_Mean %></td>
    <td><%=h micro_array_data.D_Ch2_SD %></td>
    <td><%=h micro_array_data.D_Ch2_B_Median %></td>
    <td><%=h micro_array_data.D_Ch2_B_Mean %></td>
    <td><%=h micro_array_data.D_Ch2_B_SD %></td>
    <td><%=h micro_array_data.D_Ch2_B_1_SD %></td>
    <td><%=h micro_array_data.D_Ch2_B_2_SD %></td>
    <td><%=h micro_array_data.D_Ch2_F_Sat %></td>
    <td><%=h micro_array_data.D_Ch2_Median_B %></td>
    <td><%=h micro_array_data.D_Ch2_Mean_B %></td>
    <td><%=h micro_array_data.D_Ch2_SignalNoiseRatio %></td>
    <td><%=h micro_array_data.D_Ch2_Ratio_of_Medians %></td>
    <td><%=h micro_array_data.D_Ch2_Ratio_of_Means %></td>
    <td><%=h micro_array_data.D_Ch2_Median_of_Ratios %></td>
    <td><%=h micro_array_data.D_Ch2_Mean_of_Ratios %></td>
    <td><%=h micro_array_data.D_Ch2_Ratios_SD %></td>
    <td><%=h micro_array_data.D_Ch2_Rgn_Ratio %></td>
    <td><%=h micro_array_data.D_Ch2_Rgn_R %></td>
    <td><%=h micro_array_data.D_Ch2_Log_Ratio %></td>
    <td><%=h micro_array_data.D_Sum_of_Medians %></td>
    <td><%=h micro_array_data.D_Sum_of_Means %></td>
    <td><%=h micro_array_data.D_Ch1_N_Median %></td>
    <td><%=h micro_array_data.D_Ch1_N_Mean %></td>
    <td><%=h micro_array_data.D_Ch1_N_MedianB %></td>
    <td><%=h micro_array_data.D_Ch1_N_MeanB %></td>
    <td><%=h micro_array_data.D_Ch2_N_Median %></td>
    <td><%=h micro_array_data.D_Ch2_N_Mean %></td>
    <td><%=h micro_array_data.D_Ch2_N_MedianB %></td>
    <td><%=h micro_array_data.D_Ch2_N_MeanB %></td>
    <td><%=h micro_array_data.D_Ch2_N_Ratio_of_Medians %></td>
    <td><%=h micro_array_data.D_Ch2_N_Ratio_of_Means %></td>
    <td><%=h micro_array_data.D_Ch2_N_Median_of_Ratios %></td>
    <td><%=h micro_array_data.D_Ch2_N_Mean_of_Ratios %></td>
    <td><%=h micro_array_data.D_Ch2_N_Rgn_Ratio %></td>
    <td><%=h micro_array_data.D_Ch2_N_Log_Ratio %></td>
    <% if auth_ma_user(micro_array_data.microarray_id) or signed_in_and_master? %>
      <td><%= link_to 'Delete', micro_array_data, :confirm => 'Are you sure?', :method => :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />
<br />
<%= link_to 'New micro_array_data', new_micro_array_data_path %>
<br />

