<p>
  <b>Microarray:</b>
  <%=h @micro_array_data.microarray %>
</p>

<p>
  <b>Note:</b>
  <%=h @micro_array_data.note %>
</p>

<p>
  <b>D index:</b>
  <%=h @micro_array_data.D_Index %>
</p>

<p>
  <b>D array row:</b>
  <%=h @micro_array_data.D_Array_Row %>
</p>

<p>
  <b>D array column:</b>
  <%=h @micro_array_data.D_Array_Column %>
</p>

<p>
  <b>D spot row:</b>
  <%=h @micro_array_data.D_Spot_Row %>
</p>

<p>
  <b>D spot column:</b>
  <%=h @micro_array_data.D_Spot_Column %>
</p>

<p>
  <b>D name:</b>
  <%=h @micro_array_data.D_Name %>
</p>

<p>
  <b>D id:</b>
  <%=h @micro_array_data.D_ID %>
</p>

<p>
  <b>D x:</b>
  <%=h @micro_array_data.D_X %>
</p>

<p>
  <b>D y:</b>
  <%=h @micro_array_data.D_Y %>
</p>

<p>
  <b>D diameter:</b>
  <%=h @micro_array_data.D_Diameter %>
</p>

<p>
  <b>D f pixels:</b>
  <%=h @micro_array_data.D_F_Pixels %>
</p>

<p>
  <b>D b pixels:</b>
  <%=h @micro_array_data.D_B_Pixels %>
</p>

<p>
  <b>D footprint:</b>
  <%=h @micro_array_data.D_Footprint %>
</p>

<p>
  <b>D flags:</b>
  <%=h @micro_array_data.D_Flags %>
</p>

<p>
  <b>D ch1 median:</b>
  <%=h @micro_array_data.D_Ch1_Median %>
</p>

<p>
  <b>D ch1 mean:</b>
  <%=h @micro_array_data.D_Ch1_Mean %>
</p>

<p>
  <b>D ch1 sd:</b>
  <%=h @micro_array_data.D_Ch1_SD %>
</p>

<p>
  <b>D ch1 b median:</b>
  <%=h @micro_array_data.D_Ch1_B_Median %>
</p>

<p>
  <b>D ch1 b mean:</b>
  <%=h @micro_array_data.D_Ch1_B_Mean %>
</p>

<p>
  <b>D ch1 b sd:</b>
  <%=h @micro_array_data.D_Ch1_B_SD %>
</p>

<p>
  <b>D ch1 b 1 sd:</b>
  <%=h @micro_array_data.D_Ch1_B_1_SD %>
</p>

<p>
  <b>D ch1 b 2 sd:</b>
  <%=h @micro_array_data.D_Ch1_B_2_SD %>
</p>

<p>
  <b>D ch1 f sat:</b>
  <%=h @micro_array_data.D_Ch1_F_Sat %>
</p>

<p>
  <b>D ch1 median b:</b>
  <%=h @micro_array_data.D_Ch1_Median_B %>
</p>

<p>
  <b>D ch1 mean b:</b>
  <%=h @micro_array_data.D_Ch1_Mean_B %>
</p>

<p>
  <b>D ch1 signalnoiseratio:</b>
  <%=h @micro_array_data.D_Ch1_SignalNoiseRatio %>
</p>

<p>
  <b>D ch2 median:</b>
  <%=h @micro_array_data.D_Ch2_Median %>
</p>

<p>
  <b>D ch2 mean:</b>
  <%=h @micro_array_data.D_Ch2_Mean %>
</p>

<p>
  <b>D ch2 sd:</b>
  <%=h @micro_array_data.D_Ch2_SD %>
</p>

<p>
  <b>D ch2 b median:</b>
  <%=h @micro_array_data.D_Ch2_B_Median %>
</p>

<p>
  <b>D ch2 b mean:</b>
  <%=h @micro_array_data.D_Ch2_B_Mean %>
</p>

<p>
  <b>D ch2 b sd:</b>
  <%=h @micro_array_data.D_Ch2_B_SD %>
</p>

<p>
  <b>D ch2 b 1 sd:</b>
  <%=h @micro_array_data.D_Ch2_B_1_SD %>
</p>

<p>
  <b>D ch2 b 2 sd:</b>
  <%=h @micro_array_data.D_Ch2_B_2_SD %>
</p>

<p>
  <b>D ch2 f sat:</b>
  <%=h @micro_array_data.D_Ch2_F_Sat %>
</p>

<p>
  <b>D ch2 median b:</b>
  <%=h @micro_array_data.D_Ch2_Median_B %>
</p>

<p>
  <b>D ch2 mean b:</b>
  <%=h @micro_array_data.D_Ch2_Mean_B %>
</p>

<p>
  <b>D ch2 signalnoiseratio:</b>
  <%=h @micro_array_data.D_Ch2_SignalNoiseRatio %>
</p>

<p>
  <b>D ch2 ratio of medians:</b>
  <%=h @micro_array_data.D_Ch2_Ratio_of_Medians %>
</p>

<p>
  <b>D ch2 ratio of means:</b>
  <%=h @micro_array_data.D_Ch2_Ratio_of_Means %>
</p>

<p>
  <b>D ch2 median of ratios:</b>
  <%=h @micro_array_data.D_Ch2_Median_of_Ratios %>
</p>

<p>
  <b>D ch2 mean of ratios:</b>
  <%=h @micro_array_data.D_Ch2_Mean_of_Ratios %>
</p>

<p>
  <b>D ch2 ratios sd:</b>
  <%=h @micro_array_data.D_Ch2_Ratios_SD %>
</p>

<p>
  <b>D ch2 rgn ratio:</b>
  <%=h @micro_array_data.D_Ch2_Rgn_Ratio %>
</p>

<p>
  <b>D ch2 rgn r:</b>
  <%=h @micro_array_data.D_Ch2_Rgn_R %>
</p>

<p>
  <b>D ch2 log ratio:</b>
  <%=h @micro_array_data.D_Ch2_Log_Ratio %>
</p>

<p>
  <b>D sum of medians:</b>
  <%=h @micro_array_data.D_Sum_of_Medians %>
</p>

<p>
  <b>D sum of means:</b>
  <%=h @micro_array_data.D_Sum_of_Means %>
</p>

<p>
  <b>D ch1 n median:</b>
  <%=h @micro_array_data.D_Ch1_N_Median %>
</p>

<p>
  <b>D ch1 n mean:</b>
  <%=h @micro_array_data.D_Ch1_N_Mean %>
</p>

<p>
  <b>D ch1 n medianb:</b>
  <%=h @micro_array_data.D_Ch1_N_MedianB %>
</p>

<p>
  <b>D ch1 n meanb:</b>
  <%=h @micro_array_data.D_Ch1_N_MeanB %>
</p>

<p>
  <b>D ch2 n median:</b>
  <%=h @micro_array_data.D_Ch2_N_Median %>
</p>

<p>
  <b>D ch2 n mean:</b>
  <%=h @micro_array_data.D_Ch2_N_Mean %>
</p>

<p>
  <b>D ch2 n medianb:</b>
  <%=h @micro_array_data.D_Ch2_N_MedianB %>
</p>

<p>
  <b>D ch2 n meanb:</b>
  <%=h @micro_array_data.D_Ch2_N_MeanB %>
</p>

<p>
  <b>D ch2 n ratio of medians:</b>
  <%=h @micro_array_data.D_Ch2_N_Ratio_of_Medians %>
</p>

<p>
  <b>D ch2 n ratio of means:</b>
  <%=h @micro_array_data.D_Ch2_N_Ratio_of_Means %>
</p>

<p>
  <b>D ch2 n median of ratios:</b>
  <%=h @micro_array_data.D_Ch2_N_Median_of_Ratios %>
</p>

<p>
  <b>D ch2 n mean of ratios:</b>
  <%=h @micro_array_data.D_Ch2_N_Mean_of_Ratios %>
</p>

<p>
  <b>D ch2 n rgn ratio:</b>
  <%=h @micro_array_data.D_Ch2_N_Rgn_Ratio %>
</p>

<p>
  <b>D ch2 n log ratio:</b>
  <%=h @micro_array_data.D_Ch2_N_Log_Ratio %>
</p>

<% if auth_ma_user(@micro_array_data.microarray_id) or signed_in_and_master? %>
  <%= link_to 'Edit', edit_micro_array_datas_path(@micro_array_data) %> |
<% end %>
<%= link_to 'Back', micro_array_datas_path %>

