<h1>Listing altitude types</h1>

<table>
  <tr>
    <th>Name</th>
  </tr>

<% @altitude_types.each do |altitude_type| %>
  <tr>
    <td><%=h altitude_type.name %></td>
    <td><%= link_to 'Show', altitude_type %></td>
    <td><%= link_to 'Edit', edit_altitude_type_path(altitude_type) %></td>
    <td><%= link_to 'Destroy', altitude_type, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New altitude_type', new_altitude_type_path %>
