<h1>Listing water uses</h1>

<table>
  <tr>
    <th>Code</th>
    <th>Name</th>
  </tr>

<% @water_uses.each do |water_use| %>
  <tr>
    <td><%=h water_use.code %></td>
    <td><%=h water_use.name %></td>
    <td><%= link_to 'Show', water_use %></td>
    <td><%= link_to 'Edit', edit_water_use_path(water_use) %></td>
    <td><%= link_to 'Delete', water_use, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New water_use', new_water_use_path %>

