<h1>Listing land_use_mappings</h1>

<table>
  <tr>
    <th>Name</th>
  </tr>

<% @land_use_mappings.each do |land_use_mapping| %>
  <tr>
    <td><%=h land_use_mapping.name %></td>
    <td><%= link_to 'Show', land_use_mapping %></td>
    <td><%= link_to 'Edit', edit_land_use_mapping_path(land_use_mapping) %></td>
    <td><%= link_to 'Destroy', land_use_mapping, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New land_use_mapping', new_land_use_mapping_path %>

