<h1>New land_use_mapping</h1>

<% form_for(@land_use_mapping) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :note %><br />
    <%= f.text_field :note %>
  </p>
  <p>
    <%= f.label :water_sample %><br />
    <%= f.text_field :water_sample %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', land_use_mappings_path %>