<table>
  <tr class="taleft" width="70%"><td class="taleft">
    <ul class="navigation round taleft">
      <li><%= link_to "code type", code_types_path %></li>
      <li><%= link_to "filter", wfilters_path %></li>
    </ul>
  </td></tr>
</table>

<h1>New filter sample</h1>

<% form_for(@filter_sample) do |f| %>
  <%= f.error_messages %>

<fieldset><legend class="leg">GENERAL DATA</legend>

  <div class="field select">
    <%= f.label :sampling_id, "Sampling" %><br />
    <%= select :filter_sample,:sampling_id, @s.collect{|p| [p.verbose_me, p.id]}%>
  </div>
  <div class="field cod">
    <%= f.label :code %><br />
    <h2><%= @codegen %></h2>
  </div>

  <div class="field select">
    <%= f.label :wfilter_id, "Filter-pore size (μ)" %><br />
    <%= select :filter_sample,:wfilter_id, @wf.collect{|p| [p.verbose_me, p.id]}%>
  </div>

  <div class="field num">
    <%= f.label :num_filters, "Number of filters" %><br />
    <%= f.text_field :num_filters %>
  </div>
  <div class="field num">
    <%= f.label :volume, "Average Liters of water per filter" %><br />
    <%= f.text_field :volume %>
  </div>
  <div class="field txt">
    <%= f.label :barcode, "Partner barcode" %><br />
    <%= f.text_field :barcode %>
  </div>

  <div class="field date">
    <%= f.label :samplingDate, "Sampling date" %><br />
    <%= date_select :filter_sample, :samplingDate %>
  </div>

</fieldset>

  <div class="field area">
    <%= f.label :note %><br />
    <%= f.text_area :note %>
  </div>
  <div class="actions">
    <%= f.submit 'Create' %>
  </div>
<% end %>

<%= link_to 'Back', filter_samples_path %>

