<table>
  <tr class="taleft" width="70%"><td class="taleft">
    <ul class="navigation round taleft">
      <li class="hide" style="display: none;"><%= link_to "code type", code_types_path %></li>
      <li><%= link_to "protocol filter", wfilters_path %></li>
    </ul>
  </td></tr>
</table>

<% if  auth_sample_user(@filter_sample.sampling_id) or signed_in_and_master? %>
  <%= link_to 'Edit', edit_filter_sample_path(@filter_sample) %> |
<% end %>
<%= link_to 'Back', filter_samples_path %>
<br />
<br />

<fieldset><legend class="leg">GENERAL DATA</legend>

    <div class="show select">
      <b>Sampling:</b>
      <h3><%=h link_to @s.full_name, sampling_path(@s) %></h3>
    </div>

    <div class="show cod">
      <b>Filter Microaqua code:</b>
      <h3><%=h @filter_sample.code %></h3> 
    </div>

    <div class="show num">
      <b>Protocol pore size (μm):</b>
      <h3><%=h @filter_sample.verbose_me %> µm</h3> 
    </div>

    <div class="show num">
      <b>Number of filters:</b>
      <h3><%=h @filter_sample.num_filters %></h3> 
    </div>

    <div class="show num">
      <b>Volume:</b>
      <h3><%=h @filter_sample.volume %> lt</h3> 
    </div>

    <div class="show cod">
      <b>Partner barcode:</b>
      <h3><%=h @filter_sample.barcode %></h3>
    </div>

    <div class="show date">
      <b>Filtering date:</b>
      <h3><%=h @filter_sample.samplingDate %></h3>
    </div>

<p>
  <b>Note:</b>
  <%=h @filter_sample.note %>
</p>

</fieldset>

<br />
<% if  auth_sample_user(@filter_sample.sampling_id) or signed_in_and_master? %>
  <%= link_to 'Edit', edit_filter_sample_path(@filter_sample) %> |
<% end %>
<%= link_to 'Back', filter_samples_path %>



