<table>
  <tr class="taleft" width="70%"><td class="taleft">
    <ul class="navigation round taleft">
      <li><%= link_to "code type", code_types_path %></li>
      <li><%= link_to "filter", wfilters_path %></li>
    </ul>
  </td></tr>
</table>

<fieldset><legend class="leg">GENERAL DATA</legend>

    <div class="show select">
      <b>Sampling:</b>
      <h3><%=h link_to @s.verbose_me, sampling_path(@s) %></h3>
    </div>

    <div class="show cod">
      <b>Code:</b>
      <h1><%=h @filter_sample.code %></h1> 
    </div>

    <div class="show num">
      <b>Pore size - Number of filters - Volume:</b>
      <h1><%=h @filter_sample.verbose_me %></h1> 
    </div>

    <div class="show num">
      <b>Volume:</b>
      <h1><%=h @filter_sample.volume %></h1> 
    </div>

    <div class="show cod">
      <b>Partner barcode:</b>
      <h1><%=h @filter_sample.barcode %></h1>
    </div>

<p>
  <b>Note:</b>
  <%=h @filter_sample.note %>
</p>

</fieldset>

<br />
<% if  auth_sample_user(@filter_sample.sampling_id) or signed_in_and_master? %>
  <%= link_to 'Edit', edit_filter_sample_path(@filter_sample) %> |
<% end %>
<%= link_to 'Back', filter_samples_path %>



