<h1>Editing water_sample</h1>

<% form_for(@water_sample) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :Temperature %><br />
    <%= f.text_field :Temperature %>
  </p>
  <p>
    <%= f.label :Turbidity %><br />
    <%= f.text_field :Turbidity %>
  </p>
  <p>
    <%= f.label :Conductivity %><br />
    <%= f.text_field :Conductivity %>
  </p>
  <p>
    <%= f.label :Ph %><br />
    <%= f.text_field :Ph %>
  </p>
  <p>
    <%= f.label :water_sample %><br />
    <%= f.text_field :water_sample %>
  </p>
  <p>
    <%= f.label :Code %><br />
    <%= f.text_field :Code %>
  </p>
  <p>
    <%= f.label :meteorological_data %><br />
    <%= f.text_field :meteorological_data %>
  </p>
  <p>
    <%= f.label :water_type %><br />
    <%= f.text_field :water_type %>
  </p>
  <p>
    <%= f.label :water_use %><br />
    <%= f.text_field :water_use %>
  </p>
  <p>
    <%= f.label :sampling_site %><br />
    <%= f.text_field :sampling_site %>
  </p>
  <p>
    <%= f.label :partner %><br />
    <%= f.text_field :partner %>
  </p>
  <p>
    <%= f.label :geo %><br />
    <%= f.text_field :geo %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @water_sample %> |
<%= link_to 'Back', water_samples_path %>