<h1>Listing water_samples</h1>

<table>
  <tr>
    <th>Temperature</th>
    <th>Turbidity</th>
    <th>Conductivity</th>
    <th>Ph</th>
    <th>Water sample</th>
    <th>Code</th>
    <th>Meteorological data</th>
    <th>Water type</th>
    <th>Water use</th>
    <th>Sampling site</th>
    <th>Partner</th>
    <th>Geo</th>
  </tr>

<% @water_samples.each do |water_sample| %>
  <tr>
    <td><%=h water_sample.Temperature %></td>
    <td><%=h water_sample.Turbidity %></td>
    <td><%=h water_sample.Conductivity %></td>
    <td><%=h water_sample.Ph %></td>
    <td><%=h water_sample.water_sample %></td>
    <td><%=h water_sample.Code %></td>
    <td><%=h water_sample.meteorological_data %></td>
    <td><%=h water_sample.water_type %></td>
    <td><%=h water_sample.water_use %></td>
    <td><%=h water_sample.sampling_site %></td>
    <td><%=h water_sample.partner %></td>
    <td><%=h water_sample.geo %></td>
    <td><%= link_to 'Show', water_sample %></td>
    <td><%= link_to 'Edit', edit_water_sample_path(water_sample) %></td>
    <td><%= link_to 'Destroy', water_sample, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New water_sample', new_water_sample_path %>