<h1>New water sample</h1>

<% form_for(@water_sample) do |f| %>
  <%= f.error_messages %>

<fieldset><legend class="leg">General data</legend>
  <div class="field">
    <%= f.label :samplings_id %><br />
    <%= select :water_sample,:samplings_id, Sampling.find(:all).collect{|p| [p.code + " " + p.samplingDate.to_s, p.id]}%>
  </div>
  <div class="field">
    <%= f.label :code %><br />
    <%= f.text_field :code %>
  </div>
  <div class="field">
    <%= f.label :samplingDate %><br />
    <%= date_select :water_sample, :samplingDate %>
  </div>
</fieldset>

<fieldset><legend class="leg">Technical data</legend>
  <div class="field">
    <%= f.label :temperature %><br />
    <%= f.text_field :temperature %>
  </div>
  <div class="field">
    <%= f.label :turbidity %><br />
    <%= f.text_field :turbidity %>
  </div>
  <div class="field">
    <%= f.label :conductivity %><br />
    <%= f.text_field :conductivity %>
  </div>

  <div class="field">
    <%= f.label :phosphates %><br />
    <%= f.text_field :phosphates %>
  </div>
  <div class="field">
    <%= f.label :nitrates %><br />
    <%= f.text_field :nitrates %>
  </div>
  <div class="field">
    <%= f.label :volume %><br />
    <%= f.text_field :volume %>
  </div>
  <div class="field">
    <%= f.label :ph %><br />
    <%= f.text_field :ph %>
  </div>
</fieldset>

  <div class="field">
    <%= f.label :note %><br />
    <%= f.text_area :note %>
  </div>
  <div class="actions">
    <%= f.submit 'Create' %>
  </div>
<% end %>

<%= link_to 'Back', water_samples_path %>

