<table>
  <tr class="taleft" width="70%"><td class="taleft">
    <ul class="navigation round taleft">
      <li><%= link_to "code type", code_types_path %></li>
      <li><%= link_to "filter", wfilters_path %></li>
    </ul>
  </td></tr>
</table>

<h1>New water sample</h1>

<% form_for(@water_sample) do |f| %>
  <%= f.error_messages %>

<fieldset><legend class="leg">General data</legend>
  <div class="field select">
    <%= f.label :sampling_id, "Sampling" %><br />
    <%= select :water_sample,:sampling_id, @s.collect{|p| [p.verbose_me, p.id]}%>
  </div>
  <div class="field cod">
    <%= f.label :code %><br />
    <h2><%= @codegen %></h2>
  </div>
  <div class="field date">
    <%= f.label :samplingDate, "Sampling date" %><br />
    <%= date_select :water_sample, :samplingDate %>
  </div>
</fieldset>

<fieldset><legend class="leg">Technical data</legend>
  <div class="field num">
    <%= f.label :temperature %><br />
    <%= f.text_field :temperature %>
  </div>
  <div class="field num">
    <%= f.label :conductivity %><br />
    <%= f.text_field :conductivity %>
  </div>

  <div class="field num">
    <%= f.label :phosphates %><br />
    <%= f.text_field :phosphates %>
  </div>
  <div class="field num">
    <%= f.label :nitrates %><br />
    <%= f.text_field :nitrates %>
  </div>
  <div class="field num">
    <%= f.label :volume %><br />
    <%= f.text_field :volume %>
  </div>
  <div class="field num">
    <%= f.label :ph %><br />
    <%= f.text_field :ph %>
  </div>
</fieldset>

  <div class="field area">
    <%= f.label :note %><br />
    <%= f.text_area :note %>
  </div>
  <div class="actions">
    <%= f.submit 'Create' %>
  </div>
<% end %>

<%= link_to 'Back', water_samples_path %>

