<div class="show">
  <b>Sampling:</b>
  <%=h @s.code + " " + @s.samplingDate.to_s %>
</div>

<div class="show">
  <b>Code:</b>
  <%=h @water_sample.code %>
</div>

<div class="show">
  <b>Temperature:</b>
  <%=h @water_sample.temperature %>
</div>

<div class="show">
  <b>Turbidity:</b>
  <%=h @water_sample.turbidity %>
</div>

<div class="show">
  <b>Conductivity:</b>
  <%=h @water_sample.conductivity %>
</div>

<div class="show">
  <b>Phosphates:</b>
  <%=h @water_sample.phosphates %>
</div>

<div class="show">
  <b>Nitrates:</b>
  <%=h @water_sample.nitrates %>
</div>

<div class="show">
  <b>Volume:</b>
  <%=h @water_sample.volume %>
</div>

<div class="show">
  <b>Ph:</b>
  <%=h @water_sample.ph %>
</div>

<br />
<p>
  <b>Note:</b>
  <%=h @water_sample.note %>
</p>

<% if auth_sample(@water_sample.samplings_id) %>
  <%= link_to 'Edit', edit_water_sample_path(@water_sample) %> |
<% end %>
<%= link_to 'Back', water_samples_path %>

