<p>
  <b>Sampling:</b>
  <%=h @s.code + " " + @s.samplingDate.to_s %>
</p>

<p>
  <b>Code:</b>
  <%=h @water_sample.code %>
</p>

<p>
  <b>Temperature:</b>
  <%=h @water_sample.temperature %>
</p>

<p>
  <b>Turbidity:</b>
  <%=h @water_sample.turbidity %>
</p>

<p>
  <b>Conductivity:</b>
  <%=h @water_sample.conductivity %>
</p>

<p>
  <b>Phosphates:</b>
  <%=h @water_sample.phosphates %>
</p>

<p>
  <b>Nitrates:</b>
  <%=h @water_sample.nitrates %>
</p>

<p>
  <b>Volume:</b>
  <%=h @water_sample.volume %>
</p>

<p>
  <b>Ph:</b>
  <%=h @water_sample.ph %>
</p>

<p>
  <b>Note:</b>
  <%=h @water_sample.note %>
</p>


<%= link_to 'Edit', edit_water_sample_path(@water_sample) %> |
<%= link_to 'Back', water_samples_path %>

