<h1>Listing sampling sites</h1>

<table>
  <tr>
    <th>Code</th>
    <th>Name</th>
    <th>Water type</th>
    <th>Water use</th>
    <th>Land use</th>
    <th>Geo</th>
  </tr>

<% @sampling_sites.each do |sampling_site| %>
  <tr>
    <td><%=h sampling_site.code %></td>
    <td><%=h sampling_site.name %></td>
    <td><%=h WaterUse.find(sampling_site.water_uses_id).name %></td>
    <td><%=h WaterType.find(sampling_site.water_types_id).name %></td>
    <td><%=h LandUseMapping.find(sampling_site.land_use_mappings_id).name %></td>
    <td><%=h Geo.find(sampling_site.geos_id).name %></td>
    <td><%= link_to 'Show', sampling_site %></td>
    <td><%= link_to 'Edit', edit_sampling_site_path(sampling_site) %></td>
    <td><%= link_to 'Delete', sampling_site, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New sampling_site', new_sampling_site_path %>

