<h1>New sampling site</h1>

<% form_for(@sampling_site) do |f| %>
  <%= f.error_messages %>

<fieldset><legend class="leg">General data</legend>
  <div class="field">
    <%= f.label :code %><br />
    <%= f.text_field :code %>
    <div style="display:none"> text_field_with_label f, :code </div>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :water_types_id %><br />
    <%= select :sampling_site,:water_types_id,WaterType.find(:all).collect{|p| [p.code + " " + p.name, p.id]}%>
  </div>
  <div class="field">
    <%= f.label :water_uses_id %><br />
    <%= select :sampling_site,:water_uses_id,WaterUse.find(:all).collect{|p| [p.code + " " + p.name, p.id]}%>
  </div>
  <div class="field">
    <%= f.label :land_use_mappings_id %><br />
    <%= select :sampling_site,:land_use_mappings_id,LandUseMapping.find(:all).collect{|p| [p.name, p.id]}%>
    <div style="display:none"> t.string   "geos_type" </div>
  </div>
   <div class="field">
    <%= f.label :geos_id %><br />
    <%= select :sampling_site,:geos_id,Geo.find(:all).collect{|p| [p.name, p.id]}%>
  </div>
</fieldset>
<fieldset><legend class="leg">Technical data</legend>
  <div class="field">
    <%= f.label :country %><br />
    <%= f.text_field :country %>
  </div>
  <div class="field">
    <%= f.label :aptitudeTypology %><br />
    <%= f.text_field :aptitudeTypology %>
  </div>
  <div class="field">
    <%= f.label :catchmentArea %><br />
    <%= f.text_field :catchmentArea %>
  </div>
  <div class="field">
    <%= f.label :Geology %><br />
    <%= f.text_field :geology %>
  </div>

  <div class="field">
    <%= f.label :depth %><br />
    <%= f.text_field :depth %>
  </div>
  <div class="field">
    <%= f.label :sizeTypology %><br />
    <%= f.text_field :sizeTypology %>
  </div>
  <div class="field">
    <%= f.label :salinity %><br />
    <%= f.text_field :salinity %>
  </div>
  <div class="field">
    <%= f.label :tidalRange %><br />
    <%= f.text_field :tidalRange %>
  </div>
</fieldset>

  <div class="field">
    <%= f.label :Note %><br />
    <%= f.text_area :note %>
  </div>

  <div class="actions">
    <%= f.submit 'Create' %>
  </div>
<% end %>

<%= link_to 'Back', sampling_sites_path %>

