<table>
<tr class="taleft" width="70%"><td class="taleft">
    <ul class="navigation round taleft">
      <li><%= link_to "land use mapping", land_use_mappings_path %></li>
      <li><%= link_to "water use", water_uses_path %></li>
      <li><%= link_to "water type", water_types_path %></li>
      <li><%= link_to "country", countries_path %></li>
      <li><%= link_to "geo", geos_path %></li>
    </ul>
  </td></tr>
</table>

<p>
  <b>Code:</b>
  <%=h @sampling_site.code %>
</p>
<p>
  <b>Name:</b>
  <%=h @sampling_site.name %>
</p>
<p>
  <b>Water type:</b>
  <%=h @sampling_site.water_type %>
  <%=h @wt.code + " " + @wt.name %>
</p>

<p>
  <b>Water use:</b>
  <%=h @wu.code + " " + @wu.name %>
</p>

<p>
  <b>State:</b>
  <%=h @state.name %>
</p>

<p>
  <b>Land use mapping:</b>
  <%=h @lum.name %>
</p>

<p>
  <b>Geo:</b>
  <%=h @g.name %>
</p>


<%= link_to 'Edit', edit_sampling_site_path(@sampling_site) %> |
<%= link_to 'Back', sampling_sites_path %>

