<p>
  <b>Code:</b>
  <%=h @sampling_site.Code %>
</p>

<p>
  <b>Water type:</b>
  <%=h @sampling_site.water_type %>
</p>

<p>
  <b>Water use:</b>
  <%=h @sampling_site.water_use %>
</p>

<p>
  <b>Geo:</b>
  <%=h @sampling_site.geo %>
</p>


<%= link_to 'Edit', edit_sampling_site_path(@sampling_site) %> |
<%= link_to 'Back', sampling_sites_path %>