<h1>Listing protocols</h1>

<table>
  <tr>
    <th>Growth protocol</th>
    <th>Treatment protocol</th>
    <th>Extract protocol</th>
    <th>Label protocol</th>
    <th>Hybprotocol</th>
    <th>Scan protocol</th>
    <th>Data processing</th>
    <th>Value definition</th>
  </tr>

<% @protocols.each do |protocol| %>
  <tr>
    <td><%=h protocol.GrowthProtocol %></td>
    <td><%=h protocol.TreatmentProtocol %></td>
    <td><%=h protocol.ExtractProtocol %></td>
    <td><%=h protocol.LabelProtocol %></td>
    <td><%=h protocol.HybProtocol %></td>
    <td><%=h protocol.ScanProtocol %></td>
    <td><%=h protocol.DataProcessing %></td>
    <td><%=h protocol.ValueDefinition %></td>
    <td><%= link_to 'Show', protocol %></td>
    <td><%= link_to 'Edit', edit_protocol_path(protocol) %></td>
    <td><%= link_to 'Delete', protocol, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New protocol', new_protocol_path %>

