<p>
  <b>Growthprotocol:</b>
  <%=h @protocol.GrowthProtocol %>
</p>

<p>
  <b>Treatmentprotocol:</b>
  <%=h @protocol.TreatmentProtocol %>
</p>

<p>
  <b>Extractprotocol:</b>
  <%=h @protocol.ExtractProtocol %>
</p>

<p>
  <b>Labelprotocol:</b>
  <%=h @protocol.LabelProtocol %>
</p>

<p>
  <b>Hybprotocol:</b>
  <%=h @protocol.HybProtocol %>
</p>

<p>
  <b>Scanprotocol:</b>
  <%=h @protocol.ScanProtocol %>
</p>

<p>
  <b>Dataprocessing:</b>
  <%=h @protocol.DataProcessing %>
</p>

<p>
  <b>Aluedefinition:</b>
  <%=h @protocol.alueDefinition %>
</p>


<%= link_to 'Edit', edit_protocol_path(@protocol) %> |
<%= link_to 'Back', protocols_path %>