<table>
  <tr class="taleft" width="70%"><td class="taleft">
    <ul class="navigation round taleft">
      <li><%= link_to "code type", code_types_path %></li>
	    <li><%= link_to "protocol", protocols_path %></li>
      <li><%= link_to "Water sample", water_samples_path %></li>
    </ul>
  </td></tr>
</table>

<h1>Editing sampling</h1>

<% form_for(@sampling) do |f| %>
  <%= f.error_messages %>

<fieldset><legend class="leg">General data</legend>
<h1><%= @is_Auth %></h1>
  <div class="field select">
    <%= f.label :sampling_site_id, "Sampling" %><br />
    <h3><%= @ss.verbose_me %></h3>
  </div>&nbsp;&nbsp;
  <div class="field select">
    <%= f.label :partner_id, "Partner" %><br />
    <div style="display:none;">  select :sampling, :partner,Partner.find(:all).collect{|p| [p.fp7_Number + " " + p.name, p.id]} </div>
    <h3><%= @partner.verbose_me %></h3>
  </div>
  <br />
  <div class="field cod">
    Code<br />
    <h2><%= @code %></h2>
  </div>
  <div class="field select" style="display:none;">
    <= f.label :protocols ><br />
    <= select :sampling,:protocol_id,Wfilter.find(:all).collect{|p| [p.name, p.id]} >
  </div>
  <div class="field date">
    <%= f.label :samplingDate %><br />
    <%= date_select :sampling, :samplingDate %>
  </div>

</fieldset>

<fieldset><legend class="leg">Technical data</legend>
  <div class="field num">
    <%= f.label :temperature %><br />
    <%= f.text_field :temperature %>
  </div>
  <div class="field num">
    <%= f.label :moisture %><br />
    <%= f.text_field :moisture %>
  </div>
  <div class="field num">
    <%= f.label :pressure %><br />
    <%= f.text_field :pressure %>
  </div>
  <div class="field num">
    <%= f.label :windSpeed %><br />
    <%= f.text_field :windSpeed %>
  </div>
  <div class="field txtshort">
    <%= f.label :windDirection %><br />
    <%= f.text_field :windDirection %>
  </div>
  <div class="field num">
    <%= f.label :waterFlow %><br />
    <%= f.text_field :waterFlow %>
  </div>
  <div class="field num">
    <%= f.label :lightIntensity %><br />
    <%= f.text_field :lightIntensity %>
  </div>
  <div class="field num">
    <%= f.label :rainfallEvents %><br />
    <%= f.text_field :rainfallEvents %>
  </div>
  <div class="field num">
    <%= f.label :depth %><br />
    <%= f.text_field :depth %>
  </div>
  <div class="field num">
    <%= f.label :turbidity %><br />
    <%= f.text_field :turbidity %>
  </div>

</fieldset>

  <div class="field area">
    <%= f.label :note %><br />
    <%= f.text_area :note, :size => "60x12"  %>
  </div>
  <div class="actions">
    <%= f.submit 'Update' %>
  </div>
<% end %>

<%= link_to 'Show', @sampling %> |
<%= link_to 'Back', samplings_path %>

