<h1>Listing samplings</h1>

<table>
  <tr>
    <th>Sampling site</th>
    <th>Code</th>
    <th>Partner</th>
  </tr>

<% @samplings.each do |sampling| %>
  <tr>
    <td><%=h SamplingSite.find(sampling.sampling_site_id).verbose_me %></td>
    <td><%=h sampling.code %></td>
    <td><%=h Partner.find(sampling.partner_id).verbose_me %></td>
    <td><%= link_to 'Show', sampling %></td>
    <td><%= link_to 'Edit', edit_sampling_path(sampling) %></td>
    <td><%= link_to 'Destroy', sampling, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New sampling', new_sampling_path %>

