<table>
  <tr class="taleft" width="70%"><td class="taleft">
    <ul class="navigation round taleft">
        <li><%= link_to "code type", code_types_path %></li>
        <li><%= link_to "protocol", protocols_path %></li>
    </ul>
  </td></tr>
</table>

<h1>Listing samplings</h1>

<table>
  <tr>
    <th>Sampling site</th>
    <th>Code</th>
    <th>Partner</th>
  </tr>

<% @samplings.each do |sampling| %>
  <tr>
    <td><%=h SamplingSite.find(sampling.sampling_site_id).verbose_me %></td>
    <td><%=h sampling.code %></td>
    <td><%=h Partner.find(sampling.partner_id).verbose_me %></td>
    <td><%= link_to 'Show', sampling %></td>
    <% if auth_user(sampling.partner_id) or signed_in_and_master? %>
      <td><%= link_to 'Edit', edit_sampling_path(sampling) %></td>
      <td><%= link_to 'Delete', sampling, :confirm => 'Are you sure?', :method => :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New sampling', new_sampling_path %>

