<div id="header">
  <table><tr><td rowspan="2">

  <%= link_to appHelperLogo, root_path %>

  </td><td>

  <ul class="navigation round">
    <li><%= link_to "Internal site", root_path  %></li>
    <li><a href="http://microaqua.eu/" target="_blank">External site</a></li>
    <li><a href="http://engeebee.com/dpmicroaqua/" target="_blank">Project mgt</a></li>
  </ul>

  <% if signed_in? %>
    <%= link_to appHelperLogout, signout_path, :method => :delete%>
  <% else
      if not request.url.include? 'signin' %>
        <%= link_to appHelperLogin, signin_path %>
    <% end
     end %>

  <% if signed_in? %>

    </td></tr><tr><td class="transparent">

    <ul class="navigation round">
      <li><%= link_to "sampling site", sampling_sites_path %></li>
      <li><%= link_to "sampling", samplings_path %></li>
      <li><%= link_to "water sample", water_samples_path %></li>
    </ul>
    <br />

  <% end %>

  </td></tr></table>
</div>
<br />

